<div data-role="view" id="game-view" data-id="game-view"
         data-layout="main-layout" data-title="New Game">
    <canvas id="canvas">Canvas is not supported</canvas>
    <div id="tempControls">
        <div id="leftControl">
            Left
        </div>
        <div id="rightControl">
            Right       
        </div>
    </div>
    <div id="accelerometer" />
    <img src="images/sprite2.png" id="ship" />
    <img src="images/sprite3.png" id="asteroid" />
    <script src="scripts/Game.js"></script>
</div>
