

<div data-role="view" id="scores-view" data-id="scores-view" data-init="mobileListViewDataBindInitGrouped" data-transition="" data-title="ListView" data-layout="databinding">
     <ul id="grouped-listview"></ul>
</div>

<script>
    var templateContent;
    var permanentStorage = window.localStorage;
    var res = permanentStorage.getItem("score");
    if (res != null) {
        
        res = JSON.parse(res);
         templateContent = "${name} - ${score} points"
    }
    else {
       
        res = [{ name: "", score: 0 }];
        templateContent = "No scores";
    }


    function mobileListViewDataBindInitGrouped() {
        $("#grouped-listview").kendoMobileListView({
            dataSource: kendo.data.DataSource.create({ data: res}),
            template: templateContent,
            fixedHeaders: true
        });
    }

</script>
