<div data-show="show" data-role="view" id="scores-view" data-id="scores-view" data-init="mobileListViewDataBindInitGrouped" data-transition="" data-title="ListView" data-layout="databinding">
    <header data-role="header">
        <div data-role="navbar">
            <a data-align="right" data-role="button" class="nav-button" href="#index">Home page</a>
        </div>
    </header>
     <ul id="grouped-listview"></ul>

</div>

   <!--  <script src="../scripts/localHighScores.js" ></script> -->
<script>

    function show(e) {

        var templateContent;
        var permanentStorage = window.localStorage;
        var res = permanentStorage.getItem("localScore");
        if (res != null) {

            res = JSON.parse(res);
            templateContent = "${name} - ${score} points"
        }
        else {

            res = [{ name: "", score: 0 }];
            templateContent = "No scores";
        }

        mobileListViewDataBindInitGrouped();
        function mobileListViewDataBindInitGrouped() {
            $("#grouped-listview").kendoMobileListView({
                dataSource: kendo.data.DataSource.create({ data: res }),
                template: templateContent,
                fixedHeaders: true
            });
        }
    }

</script>