<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hmaleev.convertor" version="1.7.0"  android-versionCode="10070" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Converter</name>
    <description>
       A simple application to convert between different units. The latest version supports conversion between units from this categories: speed, distance, area, mass, temperature, power, volume.
    </description>
    <preference name="permissions" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <author email="hmaleev@gmail.com" href="hmaleev@gmail.com">
      Hristo Maleev
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
